<p>
  <b>First name:</b>
  <%= @employee.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @employee.last_name %>
</p>


<%= link_to 'Edycja danych pracownika', edit_employee_path(@employee) %> |
<%= link_to 'Powrót do listy wszystkich pracowników', employees_path %>
