<% title('Miesięczna karta ewidencji czasu pracy') %>
<% javascript 'jquery-ui-1.8.5.custom.min' %>

<%= slick_button('Wyświetl raport dla pojedyńczego pracownika...', "#{work_time_cards_path}/show") %>

<% msg = "Dane dla wszystkich pracowników za: #{@months[@report_month].first} #{@report_year}." %>
<%= content_tag :div, msg, :id => "flash_notice", :style => "width: 55%;" %>

<% @employees.each do |employee| -%>
  <%
    @work_records = employee.work_records.where("date >= ?", @start_date).where("date <= ?", @end_date)
    whole_month = []
    0.upto(30) {|i| whole_month.push(0)}
    @work_records.each do |wr|
      whole_month[wr.date.day-1] = wr
    end
    @work_recods = whole_month
  -%>
  <h3><%= "#{employee.last_name} #{employee.first_name}, #{@months[@report_month].first} #{@report_year} r." %></h3>
  <%= render :partial => 'employee_work_evidence' %>
<% end -%>
